DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_NAME=invoice-management-system-db
DATABASE_USER=Daerhard
DATABASE_PASSWORD=123456

SMTP_HOST=mail.gmx.net
SMTP_PORT=587
SMTP_USERNAME=your-email@gmx.de
SMTP_PASSWORD=your-gmx-password


